@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --animate-dash: dash 8s linear infinite;
  --animate-dash-reverse: dash 8s linear infinite reverse;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1200;
  }
  to {
    stroke-dashoffset: 0;
  }
}
